# Copyright (c) 2022 TimeChain.Academy | @RandyMcMillan

# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to
# deal in the Software without restriction, including without limitation the
# rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
# sell copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:

# The above copyright notice and this permission notice shall be included in
# all copies or substantial portions of the Software.

# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
# FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
# IN THE SOFTWARE.
---
## Begin base.yml
# Project information
site_name: TimeChain.Academy
site_url: http://localhost:8008
site_author: Randy McMillan & \
    [timechain-academy/people](https://github.com/orgs/timechain-academy/people)
site_description: >-
  Educational Community dedicated to Bitcoin & Lightning Development

# Repository
repo_name: timechain.academy
repo_url: https://github.com/timechain-academy/timechain.academy
edit_uri: ""
docs_dir: sources
site_dir: docs

# Copyright
copyright: Copyright &copy; 2022 - TimeChain.Academy - @RandyMcMillan


theme:
    name: material
    custom_dir: sources/overrides

    language: en

    highlightjs: true
    hljs_languages: [yaml, rust, bash, python]

    features:

        - header.autohide

        - navigation.top
        - navigation.tabs
        - navigation.tabs.sticky
        - navigation.sections
        - navigation.tracking
        - navigation.expand
        - navigation.instant
        # - navigation.indexes # (1)!

        - toc.follow
        - toc.integrate  # (1)!


    palette:
        - media: "(prefers-color-scheme: light)"
          scheme: default
          toggle:
              icon: material/toggle-switch-off-outline
              name: Switch to dark mode
        - media: "(prefers-color-scheme: dark)"
          scheme: slate
          toggle:
              icon: material/toggle-switch
              name: Switch to light mode

# REF: https://squidfunk.github.io/mkdocs-material/setup/extensions
markdown_extensions:
    - admonition
    - attr_list
    - meta
    - def_list
    - footnotes
    - md_in_html
    - tables
    - pymdownx.details
    - pymdownx.superfences

watch:
    - sources/mkdocs.yml
    - sources/README.md
    - sources/TimeChain.Academy.md
    - sources/HEADER.md
    - sources/COMMANDS.md
    - sources/FOOTER.md
    - sources/books/public/README.md
    - sources/books/private/README.md

## END base.yml
#

plugins:
    - exclude:
          glob:
          # https://www.mkdocs.org/user-guide/configuration/#environment-variables
              - "*.asciidoc"
              - sources/qt/webengine/*
              - sources/qt/webengine/src/3rdparty
              - sources/qt/webengine/src/3rdparty/*
              - sources/qt/webengine/src/3rdparty/qtwebengine-chromium
              - sources/qt/webengine/src/3rdparty/qtwebengine-chromium/*
              - sources/playground/docker/bitcoin-signet/*
              - sources/playground/docker/bos/*
              - sources/playground/docker/btcd/*
              - sources/playground/docker/dashboard/*
              - sources/playground/docker/docs/*
              - sources/playground/docker/lnd-signet/*
              - sources/playground/docker/notebooks/*
              - sources/playground/docker/thub/*
              - sources/playground/docker/tor/*
              - sources/playground/docker/worklogs/*
              - sources/playground/docker/volumes/*
              - "*.tmp"
              - "*.pdf"
              - "*.gz"
          regex:
              - '.*\.(tmp|bin|tar)$'

use_directory_urls: false

nav:
    - TimeChain.Academy: 'TimeChain.Academy.md'
    - Books:
          - books/public/README.md
          - !ENV [PRIVATE, "books"]
    - Git: [git/README.md, git/lessons/lesson1.md, git/lessons/lesson2.md]
    - Commands: COMMANDS.md
