requests
argparse
mkdocs
mkdocs-material
mkdocs-minify-plugin
jinja2>=2.11.1
omegaconf>=2.0.0
glom
virtualenv

#REF: https://github.com/c-w/ghp-import
ghp-import

mkdocs
mkdocs-material
mkdocs-abs-rel-plugin
mkdocs-add-number-plugin
mkdocs-autolinks-plugin
#REF: https://github.com/lukasgeiter/mkdocs-awesome-pages-plugin#customize-navigation
mkdocs-awesome-pages-plugin
mkdocs-codeinclude-plugin
mkdocs-enumerate-headings-plugin
mkdocs-exclude
mkdocs-git-authors-plugin
mkdocs-git-committers-plugin
mkdocs-git-revision-date-localized-plugin
mkdocs-img2fig-plugin
mkdocs-localsearch
mkdocs-macros-plugin
mkdocs-markdownextradata-plugin
mkdocs-merge
mkdocs-minify-plugin
mkdocs-monorepo-plugin
mkdocs_pymdownx_material_extras
mkdocs-safe-text-plugin
mkdocs-simple-hooks
mkdocs-redirects
mkdocs-versioning
mkdocs-alabaster
mkdocs-cinder
mkdocs-ivory
mkdocs-kpn
mkdocs-material
mkdocs-rtd-dropdown
markdown-include
pygments
pymdown-extensions
